### Small exploration of Airplane Crash dataset.

In [37]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Read the CSV file named "airplane_crash.csv" in the data folder and assign it to a dataframe called accident.

### Next, drop the column Summary.

In [30]:
accident = pd.read_csv("airplane_crash.csv")
accident = accident.drop(['Summary'], axis = 1)

In [31]:
accident.head(10)

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground
0,9/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0
1,7/12/1912,6:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0
2,8/6/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0
3,9/9/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0
5,3/5/1915,1:00,"Tienen, Belgium",Military - German Navy,NaN,NaN,Zeppelin L-8 (airship),NaN,NaN,41.0,21.0,0.0
6,9/3/1915,15:20,"Off Cuxhaven, Germany",Military - German Navy,NaN,NaN,Zeppelin L-10 (airship),NaN,NaN,19.0,19.0,0.0
7,7/28/1916,NaN,"Near Jambol, Bulgeria",Military - German Army,NaN,NaN,Schutte-Lanz S-L-10 (airship),NaN,NaN,20.0,20.0,0.0
8,9/24/1916,1:00,"Billericay, England",Military - German Navy,NaN,NaN,Zeppelin L-32 (airship),NaN,NaN,22.0,22.0,0.0
9,10/1/1916,23:45,"Potters Bar, England",Military - German Navy,NaN,NaN,Zeppelin L-31 (airship),NaN,NaN,19.0,19.0,0.0

### Check for duplicate rows

In [25]:
temp_accident = accident.append(accident)
orig_accident = temp_accident.drop_duplicates(keep='last')
print("Rows in duplicate dataframe: {}".format(temp_accident.shape[0]))
print("Rows in duplicate-free dataframe: {}".format(orig_accident.shape[0]))

Rows in duplicate dataframe: 10536
Rows in duplicate-free dataframe: 5268

### Fill missing values in Aboard column from orig_accident, using imputation

In [26]:
aboard_missing = orig_accident['Aboard']
aboard_average = aboard_missing.mean()
aboard_people = aboard_missing.fillna(aboard_average)

print("Average aboard people: {}".format(aboard_average))

Average aboard people: 27.554517727792604

#### Find the error between the aboard people and fatalities in the dataset.

#### Fill the missing values in the column Fatalities from orig_accident with the average value. Store the result as a Pandas.Series to fatal_count.

#### Compute the MAE, MSE and RMSE between fatal_count and aboard_people.

#### Save the result of each metric comparison into variables called crash_mae, crash_mse, and crash_rmse.

In [27]:
from sklearn import metrics

fatal_count = orig_accident['Fatalities'].fillna(orig_accident['Fatalities'].mean())
crash_mae = metrics.mean_absolute_error(aboard_people, fatal_count)
crash_mse = metrics.mean_squared_error(aboard_people, fatal_count)
crash_rmse = np.sqrt(metrics.mean_squared_error(aboard_people, fatal_count))

In [28]:
print("Missing values in fatal_count: {}".format(fatal_count.isnull().sum()))
print("MAE: {}".format(crash_mae))
print("MSE: {}".format(crash_mse))
print("RMSE: {}".format(crash_rmse))

Missing values in fatal_count: 0
MAE: 7.508783356084407
MSE: 846.0385045810194
RMSE: 29.086741044349047

### Extracting areas of interest from the dataset.

#### From the dataframe orig_accident, extract only the rows that have the value "Zeppelin L-1 (airship)" in the column. Assign the resulting array to the variable zep.

In [32]:
zep = orig_accident[orig_accident['Type'] == "Zeppelin L-1 (airship)"]

In [33]:
zep

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground
3,9/9/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0

In [34]:
zep.info

<bound method DataFrame.info of        Date   Time            Location                Operator Flight # Route  \
3  9/9/1913  18:30  Over the North Sea  Military - German Navy      NaN   NaN

                     Type Registration cn/In  Aboard  Fatalities  Ground
3  Zeppelin L-1 (airship)          NaN   NaN    20.0        14.0     0.0  >

In [36]:
zep.count

<bound method DataFrame.count of        Date   Time            Location                Operator Flight # Route  \
3  9/9/1913  18:30  Over the North Sea  Military - German Navy      NaN   NaN

                     Type Registration cn/In  Aboard  Fatalities  Ground
3  Zeppelin L-1 (airship)          NaN   NaN    20.0        14.0     0.0  >